.banner {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: top center;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.banner::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 60%);
  z-index: 1;
}

.banner::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
}


.banner-overlay {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 3rem 5rem;
}

.banner-top-label {
  position: absolute;
  top: 30%;
  left: 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ccc; /* замінили з #aaa на світліший */
  z-index: 2;
}

.banner-content {
  max-width: 600px;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: #fff;
}

.banner-description {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  max-width: 80%;
  color: #ddd; /* трішки світліший текст */
}

.banner-buttons {
  display: flex;
  gap: 1rem;
}

.banner-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  padding: 0.7rem 1.8rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.banner-button.play {
  background-color: #fff;
  color: #000;
}

.banner-button.play:hover {
  background-color: #e6e6e6;
}

.banner-button.info {
  background-color: rgba(255, 255, 255, 0.15); /* трохи світліше, ніж #6d6d6e */
  color: #fff;
}

.banner-button.info:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.banner-age {
  position: absolute;
  bottom: 5rem;
  right: 3rem;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.7);
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}