#comp-footer {
    margin-top: 5rem;
    padding: 0 9.25rem;
}

#footer-wrapper {
    padding-bottom: 6rem;
}

#foot {
    margin-top: 3rem;
}

#comp-footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#comp-footer ul li {
    min-width: 20vw;
    margin-bottom: 0.6rem;
}

#comp-footer a {
    color: rgba(255,255,255,0.7);
    text-decoration: underline;
}

#comp-footer li a {
    font-size: 0.875rem;
}

.footer-contact {
    font-size: 1rem;
}

.footer-lang {
    margin-top: 3rem;
}

.footer-copyright {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255,255,255,0.7);
}

.footer-captcha {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 0.8125rem;
    color: rgba(255,255,255,0.5);
}