#header-browse {
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  background: transparent;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.6) 20%,
      rgba(0, 0, 0, 0.3) 60%,
      rgba(0, 0, 0, 0.01) 100%);
  color: white;
  transition: all 0.5s ease;
  pointer-events: auto;
}

.browse-logo {
  display: flex;
  margin: 0 2.8rem;
  width: 5.5rem;
}

.browse-nav a {
  text-decoration: none;
  color: #e5e5e5;
  margin: 0 0.5rem;
}

a.active {
  color: #ffffff;
  font-weight: bold;
}


#header-browse.scrolled {
  background: black;
}