.slider-cont-wrap {
  margin: 3vw 0;
  position: relative;
  z-index: 50;
  height: 100%;
}

.slider-head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0.8vw 4vw;
  color: #e5e5e5;
  font-size: 1.4vw;
  font-weight: 500;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 100vw;
  margin: 0 auto;
  height: 8.5vw;
}

@media screen and (max-width: 499px) {
  .slider-container {
    height: 26vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
  .slider-container {
    height: 17.2vw;
  }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
  .slider-container {
    height: 12.7vw;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1399px) {
  .slider-container {
    height: 10.2vw;
  }
}

@media screen and (min-width: 1400px) {
  .slider-container {
    height: 8.5vw;
  }
}

.slider-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
}

.slider-track {
  display: flex;
  gap: 0.5vw;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slider-button {
  border: none;
  display: flex;
  align-items: center;
  background: hsla(0,0%,8%,.5);
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 4vw;
  transition: background 0.1s ease;
}

.slider-button:hover {
  background: hsla(0,0%,8%,.7);
}

.slider-button img {
  transform: scale(0.5);
  transition: transform 0.1s ease;
}

.slider-button:hover img {
  transform: scale(0.7);
}

.slider-button-next {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.slider-button-prev {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.page-indicator {
  list-style-type: none;
  display: flex;
  align-items: end;
  margin-bottom: 0;
}

.indicator-li {
  background-color: #4d4d4d;
  height: 2px;
  width: 12px;
  margin-left: 1px;
}

.active-page {
  background-color: #aaa;
}

.one-page-padding {
  padding: 0 4vw;
}