* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('fonts/NetflixSans_W_Th.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('fonts/NetflixSans_W_Lt.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('fonts/NetflixSans_W_Rg.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('fonts/NetflixSans_W_Md.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('fonts/NetflixSans_W_Bd.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('fonts/NetflixSans_W_Blk.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

body {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  background-color: black;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color-main);
  --bs-btn-border-color: var(--color-main);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c4171d;
  --bs-btn-hover-border-color: #c4171d;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c4171d;
  --bs-btn-active-border-color: #c4171d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.invalid-feedback {
  --bs-form-invalid-color: #eb3942;
}

.form-control:invalid {
  --bs-form-invalid-border-color: #eb3942;
}