* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: GraphikTH;
  src: url('fonts/GraphikTH-Bold.woff') format('woff'),
       url('fonts/GraphikTH-Bold.woff2') format('woff2')
}

.div {
  font-family: GraphikTH, sans-serif;
}